
.inputDiv{
    width:  95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-inline: 10px;
    padding-block: 20px;
    background-color: coral;
    border-radius: 15px;
  }
  
  .inputDiv input{
    width: 60%;
    height: 40px;
    border-radius: 12PX;
  }
   .inputDiv button{
    background-color: #49a349;
    
   }